body {
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #F5F6Fa
}

.max-viewport {
   min-height: 100vh;
}

#banner{
    background: url("images/farm.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.list-item{
    list-style-type: none;
}

.imagebox{
    background-image: url("images/corn.jpeg");
    background-repeat: no-repeat;
    background-position:center;
    background-attachment: center;
    height:400px ;
    
}

.imagebox2{
    background-image: url("images/foodalley.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: center;
    height:400px;
}

.imagebox3{
    background-image: url("images/motherduck.jpeg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: center;
    height:400px;
}

.btn-sec{
    text-align: center;
}

.footer{
    background-color: #D9D9E0
}

.service {
    background-color: antiquewhite;
}

.meatservice {
    margin-top: 45px;
}